Repository bounswe/bounswe2022group7, pull requests merged in 2022-12, with the labels that each got.

#474 Remove poster from discussion post
  backend/src/main/kotlin/com/group7/artshare/entity/DiscussionPost.kt
  backend/src/main/kotlin/com/group7/artshare/request/DiscussionPostRequest.kt
  backend/src/main/kotlin/com/group7/artshare/service/DiscussionPostService.kt
Labels: Target: Backend

#475 Dev/android/profile page finalver
  android/lib/config/api_endpoints.dart
  android/lib/config/app_routes.dart
  android/lib/main.dart
  android/lib/models/art_item/art_item_info_model.dart
  android/lib/models/art_item/art_item_model.dart
  android/lib/models/event/event_info_model.dart
  android/lib/models/event/event_model.dart
  android/lib/models/location_model.dart
  android/lib/models/models.dart
  android/lib/models/post_model.dart
  android/lib/models/profile/account_info.dart
  android/lib/models/profile/account_model.dart
  android/lib/models/user_model.dart
  android/lib/network/event/get_event_service.dart
  android/lib/network/home/get_postlist_service.dart
  android/lib/network/login/login_output.dart
  android/lib/network/login/login_service.dart
  android/lib/network/profile/get_user_output.dart
  android/lib/network/profile/get_user_service.dart
  android/lib/pages/event_page.dart
  android/lib/pages/profile_page.dart
  android/lib/providers/user_provider.dart
  android/pubspec.lock
  android/pubspec.yaml
  android/test/widget_test/event_page_test.dart
Labels: Status: Pending Review, Priority: High, Difficulty: Hard, Type: Implementation, Target: Mobile

#468 create art item owner bug fix
  backend/src/main/kotlin/com/group7/artshare/DTO/ArtItemDTO.kt
  backend/src/main/kotlin/com/group7/artshare/controller/ArtItemController.kt
  backend/src/main/kotlin/com/group7/artshare/controller/Homepage.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItem.kt
  backend/src/main/kotlin/com/group7/artshare/service/ArtItemService.kt
Labels: Target: Backend

#476 Add Discussion Post
  backend/src/main/kotlin/com/group7/artshare/DTO/DiscussionPostDTO.kt
  backend/src/main/kotlin/com/group7/artshare/entity/DiscussionPost.kt
  frontend/src/App.js
  frontend/src/common/CommentSection.js
  frontend/src/common/NewComment.js
  frontend/src/common/UserCard.js
  frontend/src/pages/ArtItemPage/ArtItemPage.js
  frontend/src/pages/ArtItemPage/CreateArtItemPage.js
  frontend/src/pages/DiscussionPage/CreateDiscussionPostPage.js
  frontend/src/pages/DiscussionPage/DiscussionPostPage.js
  frontend/src/pages/EventPage/CreatePhysicalEventPage.js
Labels: Target: Frontend, Target: Backend

#477 Dev/discussion post upvote downvote
  backend/src/main/kotlin/com/group7/artshare/DTO/DiscussionPostDTO.kt
  backend/src/main/kotlin/com/group7/artshare/entity/DiscussionPost.kt
Labels: Target: Backend

#483 Dev/android/alican unit test
  android/test/widget_test/create_event_test.dart
Labels: Status: Pending Review, Priority: Low, Difficulty: Easy, Target: Mobile

#480 Dev/android/event network fix
  android/lib/data/data.dart
  android/lib/models/art_item/art_item_model.dart
  android/lib/models/event/event_info_model.dart
  android/lib/models/event/event_model.dart
  android/lib/models/post_model.dart
  android/lib/network/event/post_event_input.dart
  android/lib/network/event/post_event_output.dart
  android/lib/network/event/post_event_service.dart
  android/lib/network/image/get_image_builder.dart
  android/lib/network/image/post_image_output.dart
  android/lib/network/image/post_image_service.dart
  android/lib/pages/art_item_page.dart
  android/lib/pages/create_event_page.dart
  android/lib/pages/event_page.dart
  android/test/widget_test/create_event_test.dart
  android/test/widget_test/event_page_test.dart
Labels: Status: Completed, Target: Mobile

#491 Frontend content page styling
  frontend/src/App.js
  frontend/src/common/CommentSection.js
  frontend/src/common/NewComment.js
  frontend/src/common/UserCard.js
  frontend/src/components/IconWithText.js
  frontend/src/components/ImageComponent.js
  frontend/src/components/ImageDisplay.js
  frontend/src/components/MapComponent.js
  frontend/src/pages/ArtItemPage/ArtItemPage.js
  frontend/src/pages/DiscussionPage/DiscussionPostPage.js
  frontend/src/pages/EventPage/CreatePhysicalEventPage.js
  frontend/src/pages/EventPage/EventPage.js
Labels: Target: Frontend

#492 fixed art item category field in homepage
  android/lib/models/post_model.dart
Labels: Target: Mobile

#505 [Mobile] Merge Profile Settings into develop
  android/lib/config/api_endpoints.dart
  android/lib/config/app_routes.dart
  android/lib/main.dart
  android/lib/models/post_model.dart
  android/lib/network/image/get_image_builder.dart
  android/lib/network/settings/get_settings_output.dart
  android/lib/network/settings/get_settings_service.dart
  android/lib/network/settings/post_settings_input.dart
  android/lib/network/settings/post_settings_service.dart
  android/lib/pages/account_info_page.dart
  android/lib/pages/home_page.dart
  android/lib/pages/pages.dart
  android/lib/pages/settings_page.dart
Labels: Target: Mobile

#502 Dev/annotations
  annotations/.dockerignore
  annotations/.gitignore
  annotations/README.md
  annotations/app.js
  annotations/package-lock.json
  annotations/package.json
  docker/.env
  docker/annotation.development.Dockerfile
  docker/annotation.production.Dockerfile
  docker/docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ImageComponent.js
  frontend/src/setupProxy.js
Labels: Status: In Progress

#498 [Frontend] Merge the revised homepage & QoL changes
  .github/workflows/Frontend-CI.yml
  docker/.env
  docker/docker-compose.yml
  frontend/src/App.js
  frontend/src/ResponsiveAppBar.js
  frontend/src/common/UserCard.js
  frontend/src/components/CustomizableDropdownMenu.js
  frontend/src/components/EditUserInfo.js
  frontend/src/components/FilterChip.js
  frontend/src/components/ImageComponent.js
  frontend/src/components/ImageDisplay.js
  frontend/src/components/LoadingButton.js
  frontend/src/components/UserAvatar.js
  frontend/src/index.js
  frontend/src/layouts/GenericCardLayout.js
  frontend/src/pages/HomePage/ArtItem.js
  frontend/src/pages/HomePage/Event.js
  frontend/src/pages/HomePage/FeedCard.js
  frontend/src/pages/HomePage/ForumOverview.js
  frontend/src/pages/HomePage/HomePage.js
  frontend/src/pages/ProfilePage/SettingsPage.js
  frontend/src/tests/FeedCard.test.js
  frontend/src/tests/LoadingButton.test.js
Labels: Target: Frontend

#511 Dev/android/text annotation
  android/lib/config/api_endpoints.dart
  android/lib/models/user_model.dart
  android/lib/network/profile/get_user_service.dart
  android/lib/network/profile/post_follow_service.dart
  android/lib/pages/art_item_page.dart
  android/lib/pages/event_page.dart
  android/lib/pages/login.dart
  android/lib/pages/profile_page.dart
  android/lib/util/annotation.dart
  android/lib/widgets/alert.dart
  android/lib/widgets/annotatable_text.dart
  android/pubspec.lock
  android/pubspec.yaml
  android/test/widget_test/event_page_test.dart
Labels: Target: Mobile

#520 Merge Annotation microservice CI & CD config
  .github/workflows/Annotation-AWS-Deployment.yml
  .github/workflows/Annotation-CI.yml
  annotations/app.js
  deployment/annotation-task-definition.json
  deployment/backend-task-definition.json
  deployment/frontend-task-definition.json
  frontend/nginx.conf
Labels: Target: Infrastructure

#524 [Mobile] Merge partial implementation of Image Annotations
  android/lib/pages/art_item_page.dart
Labels: Target: Mobile

#519 Dev/android/comment
  android/lib/config/app_routes.dart
  android/lib/data/data.dart
  android/lib/main.dart
  android/lib/models/art_item/art_item_info_model.dart
  android/lib/models/art_item/art_item_model.dart
  android/lib/models/profile/account_info.dart
  android/lib/models/profile/account_model.dart
  android/lib/network/profile/get_user_service.dart
  android/lib/network/register/register_output.dart
  android/lib/network/register/register_service.dart
  android/lib/pages/art_item_page.dart
  android/lib/pages/event_page.dart
  android/lib/pages/profile_page.dart
  android/lib/pages/register.dart
  android/lib/pages/settings_page.dart
  android/lib/widgets/comment.dart
  android/lib/widgets/profile_picture.dart
Labels: Status: Pending Review, Priority: High, Difficulty: Hard, Type: Implementation, Target: Mobile

#522 Frontend text annotation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/AnnotatableText.js
  frontend/src/pages/ArtItemPage/ArtItemPage.js
  frontend/src/pages/DiscussionPage/DiscussionPostPage.js
  frontend/src/pages/EventPage/EventPage.js
  frontend/src/pages/HomePage/FeedCard.js
Labels: Target: Frontend

#529 [Mobile] Settings Page widget tests
  android/test/data/mock_data.dart
  android/test/widget_test/event_page_test.dart
  android/test/widget_test/settings_page_test.dart
Labels: Target: Mobile

#535 Art Item Unit Tests
  backend/src/main/kotlin/com/group7/artshare/request/ArtItemRequest.kt
  backend/src/test/kotlin/com/group7/artshare/controller/ArtItemControllerTest.kt
Labels: Target: Backend

#539 Profile Controller Unit Tests
  backend/src/main/kotlin/com/group7/artshare/controller/ProfileController.kt
  backend/src/test/kotlin/com/group7/artshare/controller/ProfileControllerTest.kt
Labels: Target: Backend

#544 Merge deliverables into Develop
  deliverables/CMPE451_Customer_Presentation_Milestone_2/milestone_report.md
Labels: Type: Documentation, Difficulty: Easy

#551 Recommendations for General and User Specific
  backend/src/main/kotlin/com/group7/artshare/DTO/ArtItemDTO.kt
  backend/src/main/kotlin/com/group7/artshare/DTO/EventDTO.kt
  backend/src/main/kotlin/com/group7/artshare/controller/HomepageController.kt
  backend/src/main/kotlin/com/group7/artshare/service/HomepageService.kt
  backend/src/test/kotlin/com/group7/artshare/controller/HomepageControllerTest.kt
Labels: Target: Backend

#549 add removing functionality in voting mechanism
  backend/src/main/kotlin/com/group7/artshare/service/CommentService.kt
  backend/src/main/kotlin/com/group7/artshare/service/DiscussionPostService.kt
Labels: Target: Backend

#557 User Level Update
  backend/src/main/kotlin/com/group7/artshare/service/ArtItemService.kt
  backend/src/main/kotlin/com/group7/artshare/service/DiscussionPostService.kt
  backend/src/main/kotlin/com/group7/artshare/service/EventService.kt
Labels: Target: Backend

#533 Comment tests
  backend/src/main/kotlin/com/group7/artshare/request/CommentRequest.kt
  backend/src/test/kotlin/com/group7/artshare/controller/CommentControllerTest.kt
Labels: Target: Backend

#556 Dev/backend/event participation
  backend/src/main/kotlin/com/group7/artshare/controller/EventController.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Event.kt
  backend/src/main/kotlin/com/group7/artshare/service/EventService.kt
  backend/src/test/kotlin/com/group7/artshare/controller/EventControllerTest.kt
Labels: Target: Backend

#560 Dev/backend/like and bookmark
  backend/src/main/kotlin/com/group7/artshare/DTO/ArtItemDTO.kt
  backend/src/main/kotlin/com/group7/artshare/DTO/EventDTO.kt
  backend/src/main/kotlin/com/group7/artshare/configuration/JwtRequestFilter.kt
  backend/src/main/kotlin/com/group7/artshare/configuration/PasswordEncoderConfiguration.kt
  backend/src/main/kotlin/com/group7/artshare/configuration/SecurityConfiguration.kt
  backend/src/main/kotlin/com/group7/artshare/controller/ArtItemController.kt
  backend/src/main/kotlin/com/group7/artshare/controller/EventController.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItem.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Notification.kt
  backend/src/main/kotlin/com/group7/artshare/entity/OnlineGallery.kt
  backend/src/main/kotlin/com/group7/artshare/entity/PhysicalExhibition.kt
  backend/src/main/kotlin/com/group7/artshare/entity/RegisteredUser.kt
  backend/src/main/kotlin/com/group7/artshare/service/ArtItemService.kt
  backend/src/main/kotlin/com/group7/artshare/service/CustomAuthenticationProvider.kt
  backend/src/main/kotlin/com/group7/artshare/service/EventService.kt
  backend/src/test/kotlin/com/group7/artshare/controller/ArtItemControllerTest.kt
  backend/src/test/kotlin/com/group7/artshare/controller/EventControllerTest.kt
Labels: Target: Backend

#571 Dev/backend/registered user dto
  backend/src/main/kotlin/com/group7/artshare/DTO/ArtistDTO.kt
  backend/src/main/kotlin/com/group7/artshare/DTO/RegisteredUserDTO.kt
  backend/src/main/kotlin/com/group7/artshare/controller/ProfileController.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Artist.kt
  backend/src/main/kotlin/com/group7/artshare/entity/RegisteredUser.kt
  backend/src/test/kotlin/com/group7/artshare/controller/ProfileControllerTest.kt
Labels: Target: Backend

#561 Dev/backend/report art item
  backend/src/main/kotlin/com/group7/artshare/DTO/CommentDTO.kt
  backend/src/main/kotlin/com/group7/artshare/controller/ArtItemController.kt
  backend/src/main/kotlin/com/group7/artshare/controller/ReportController.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItem.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Comment.kt
  backend/src/main/kotlin/com/group7/artshare/entity/DiscussionPost.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Report.kt
  backend/src/main/kotlin/com/group7/artshare/repository/ReportRepository.kt
  backend/src/main/kotlin/com/group7/artshare/request/ReportRequest.kt
  backend/src/main/kotlin/com/group7/artshare/service/ReportService.kt
  backend/src/test/kotlin/com/group7/artshare/controller/ReportControllerTest.kt
Labels: Target: Backend

#559 Dev/backend/search
  backend/pom.xml
  backend/src/main/kotlin/com/group7/artshare/DTO/SettingDTO.kt
  backend/src/main/kotlin/com/group7/artshare/configuration/SecurityConfiguration.kt
  backend/src/main/kotlin/com/group7/artshare/controller/ProfileController.kt
  backend/src/main/kotlin/com/group7/artshare/controller/UserInteractionController.kt
  backend/src/main/kotlin/com/group7/artshare/repository/AccountInfoRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/ArtItemInfoRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/ArtItemRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/DiscussionPostRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/EventInfoRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/OnlineGalleryRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/PhysicalExhibitionRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/RegisteredUserRepository.kt
  backend/src/main/kotlin/com/group7/artshare/service/ProfileService.kt
  backend/src/main/kotlin/com/group7/artshare/service/SearchService.kt
  backend/src/main/resources/application.properties
  backend/src/main/resources/run.sql
  backend/src/test/kotlin/com/group7/artshare/controller/ArtItemControllerTest.kt
  backend/src/test/kotlin/com/group7/artshare/controller/DiscussionPostControllerTest.kt
  backend/src/test/kotlin/com/group7/artshare/controller/ImageControllerTest.kt
  backend/src/test/kotlin/com/group7/artshare/controller/ProfileControllerTest.kt
  backend/src/test/resources/application.properties
Labels: Target: Backend

#575 Dev/backend/event collaborators
  backend/src/main/kotlin/com/group7/artshare/DTO/EventDTO.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Event.kt
  backend/src/main/kotlin/com/group7/artshare/entity/OnlineGallery.kt
  backend/src/main/kotlin/com/group7/artshare/entity/PhysicalExhibition.kt
  backend/src/main/kotlin/com/group7/artshare/request/OnlineGalleryRequest.kt
  backend/src/main/kotlin/com/group7/artshare/request/PhysicalExhibitionRequest.kt
  backend/src/main/kotlin/com/group7/artshare/service/EventService.kt
Labels: Target: Backend

#574 Auction / Bid Endpoints
  backend/src/main/kotlin/com/group7/artshare/DTO/ArtItemDTO.kt
  backend/src/main/kotlin/com/group7/artshare/DTO/BidDTO.kt
  backend/src/main/kotlin/com/group7/artshare/controller/ArtItemController.kt
  backend/src/main/kotlin/com/group7/artshare/controller/DataProp.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItem.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Auction.kt
  backend/src/main/kotlin/com/group7/artshare/entity/AuctionInfo.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Bid.kt
  backend/src/main/kotlin/com/group7/artshare/repository/AuctionRepository.kt
  backend/src/main/kotlin/com/group7/artshare/request/BidRequest.kt
  backend/src/main/kotlin/com/group7/artshare/service/ArtItemService.kt
Labels: Target: Backend

#546 [Mobile] Home page image caching
  android/lib/models/post_model.dart
  android/lib/pages/home_page.dart
  android/lib/widgets/feed_container.dart
Labels: Status: Pending Review, Target: Mobile

#567 Dev/android/like
  android/lib/models/art_item/art_item_model.dart
  android/lib/models/post_model.dart
  android/lib/models/profile/account_model.dart
  android/lib/network/art_item/post_art_item_like_bookmark_service.dart
  android/lib/pages/art_item_page.dart
  android/lib/pages/create_art_item_page.dart
  android/lib/pages/profile_page.dart
Labels: Status: Pending Review, Target: Mobile

#565 Dev/android/participation
  android/lib/data/data.dart
  android/lib/models/event/event_model.dart
  android/lib/models/post_model.dart
  android/lib/models/profile/account_model.dart
  android/lib/network/event/post_event_participate_bookmark_service.dart
  android/lib/pages/create_event_page.dart
  android/lib/pages/event_page.dart
  android/lib/pages/profile_page.dart
  android/test/widget_test/event_page_test.dart
Labels: Status: Pending Review, Target: Mobile

#586 Remove tag field from annotations (FE, #580)
  frontend/src/App.js
  frontend/src/components/ImageComponent.js
  frontend/src/styles/AnnotationEditor.css
Labels: Target: Frontend

#585 Frontend Art Item Auction Functionality
  frontend/src/pages/ArtItemPage/ArtItemPage.js
  frontend/src/pages/ArtItemPage/AuctionDisplay.js
Labels: Target: Frontend

#592 Comment Upvote Downvote Functionality
  frontend/src/common/UserCard.js
  frontend/src/components/CommentVote.js
  frontend/src/components/InteractiveIcon.js
Labels: Target: Frontend

#578 Dev/android/profile page revision
  android/lib/models/profile/account_model.dart
  android/lib/network/image/get_image_builder.dart
  android/lib/pages/profile_page.dart
Labels: Status: Pending Review, Priority: Medium, Difficulty: Medium, Target: Mobile

#598 [Frontend] User Level
  frontend/src/pages/ProfilePage/Profile.js
Labels: Difficulty: Easy, Type: Implementation, Target: Frontend

#596 Dev/android/reporting
  android/lib/config/api_endpoints.dart
  android/lib/models/event/event_model.dart
  android/lib/network/reporting/report_input.dart
  android/lib/network/reporting/report_output.dart
  android/lib/network/reporting/report_service.dart
  android/lib/pages/art_item_page.dart
Labels: Status: Pending Review, Target: Mobile

#600 [Frontend] Follow, bookmark, like, participate on Homepage
  frontend/src/ResponsiveAppBar.js
  frontend/src/components/ArtItemPreview.js
  frontend/src/components/DiscussionPostPreview.js
  frontend/src/components/EventPreview.js
  frontend/src/pages/HomePage/FeedCard.js
  frontend/src/pages/HomePage/HomePage.js
  frontend/src/tests/FeedCard.test.js
Labels: Target: Frontend

#569 Dev/android/comment vote
  android/lib/models/art_item/art_item_info_model.dart
  android/lib/models/art_item/art_item_model.dart
  android/lib/models/comment/comment_model.dart
  android/lib/models/user_model.dart
  android/lib/network/comment/post_comment_vote_input.dart
  android/lib/network/comment/post_comment_vote_output.dart
  android/lib/network/comment/post_comment_vote_service.dart
  android/lib/network/event/get_event_service.dart
  android/lib/pages/art_item_page.dart
  android/lib/pages/event_page.dart
  android/lib/pages/login.dart
  android/lib/pages/profile_page.dart
  android/lib/widgets/comment.dart
Labels: Status: Pending Review, Target: Mobile

#604 [Mobile] update the follow button for already followed users
  android/lib/models/profile/account_model.dart
  android/lib/pages/profile_page.dart
Labels: Target: Mobile

#610 [Mobile] Complete Image Annotation UI
  android/lib/network/image/get_image_builder.dart
  android/lib/pages/art_item_page.dart
  android/lib/pages/event_page.dart
  android/lib/pages/image_annotation_page.dart
  android/lib/util/image.dart
  android/lib/widgets/annotatable_image.dart
  android/lib/widgets/annotation_bar.dart
Labels: Target: Mobile

#609 [Frontend] Delete and Interaction Functionality for Content Pages
  frontend/src/components/ArtItemPreview.js
  frontend/src/components/DiscussionPostPreview.js
  frontend/src/components/EventPreview.js
  frontend/src/pages/ArtItemPage/ArtItemPage.js
  frontend/src/pages/DiscussionPage/DiscussionPostPage.js
  frontend/src/pages/EventPage/EventPage.js
  frontend/src/pages/HomePage/FeedCard.js
Labels: Target: Frontend

#601 [Frontend] Bookmarked events,Bookmarked artitems and participating events on Profile page
  frontend/src/pages/ProfilePage/Profile.js
Labels: Difficulty: Medium, Type: Implementation, Target: Frontend

#615 [Frontend] Added recommended and all post tabs to HomePage
  frontend/src/pages/HomePage/HomePage.js
Labels: Target: Frontend

#614 [FE] Profile page test
  frontend/src/pages/ProfilePage/Profile.js
  frontend/src/tests/Profile.test.js
Labels: Priority: High, Difficulty: Easy, Target: Frontend

#605 [Mobile] Dev/android/feed page bookmarks
  android/lib/models/post_model.dart
  android/lib/widgets/feed_container.dart
Labels: Target: Mobile

#618 Dev/android/search
  android/lib/config/api_endpoints.dart
  android/lib/config/app_routes.dart
  android/lib/main.dart
  android/lib/models/models.dart
  android/lib/models/profile/account_model.dart
  android/lib/models/search/search_models.dart
  android/lib/network/home/get_postlist_service.dart
  android/lib/network/search/search_art_item_service.dart
  android/lib/network/search/search_discussion_post_service.dart
  android/lib/network/search/search_online_gallery_service.dart
  android/lib/network/search/search_outputs.dart
  android/lib/network/search/search_physical_exhibition_service.dart
  android/lib/network/search/search_user_service.dart
  android/lib/pages/home_page.dart
  android/lib/pages/search.dart
  android/lib/widgets/tile.dart
Labels: Status: Pending Review, Priority: Medium, Difficulty: Hard, Type: Implementation, Target: Mobile

#619 [Mobile] Image Annotation Network
  android/lib/config/api_endpoints.dart
  android/lib/models/image_annotation_model.dart
  android/lib/models/models.dart
  android/lib/network/annotation/get_annotation_service.dart
  android/lib/network/annotation/post_annotation_service.dart
  android/lib/pages/art_item_page.dart
  android/lib/widgets/annotation_bar.dart
  android/pubspec.lock
  android/pubspec.yaml
Labels: Target: Mobile

#603 [Mobile] Dev/android/auction network
  android/lib/models/art_item/art_item_model.dart
  android/lib/network/art_item/post_art_item_auction_service.dart
Labels: Status: Pending Review, Target: Mobile

#621 [Mobile] Image Annotation Fix
  android/lib/models/image_annotation_model.dart
  android/lib/network/annotation/get_annotation_service.dart
  android/lib/network/annotation/post_annotation_service.dart
  android/lib/pages/image_annotation_page.dart
Labels: Target: Mobile

#612 [Frontend] Add Copyright Report functionality for Art Items
  frontend/src/App.js
  frontend/src/common/CopyrightReporter.js
  frontend/src/pages/ArtItemPage/ArtItemPage.js
  frontend/src/pages/HomePage/FeedCard.js
  frontend/src/pages/HomePage/HomePage.js
  frontend/src/tests/CopyrightReporter.test.js
Labels: Target: Frontend

#624 [FE] Display following users on profile page
  frontend/src/pages/ProfilePage/Profile.js
Labels: Priority: High, Type: Implementation, Target: Frontend

#622 Dev/android/text annotation
  android/lib/network/annotation/get_annotation_service.dart
  android/lib/network/annotation/post_annotation_service.dart
  android/lib/pages/art_item_page.dart
  android/lib/pages/event_page.dart
  android/lib/widgets/alert.dart
  android/lib/widgets/annotatable_text.dart
  android/lib/widgets/annotation_bar.dart
Labels: Target: Mobile

#629 [Mobile ]Dev/android/event page organize
  android/lib/data/data.dart
  android/lib/models/event/event_model.dart
  android/lib/models/post_model.dart
  android/lib/pages/art_item_page.dart
  android/lib/pages/discussion_forum_page.dart
  android/lib/pages/event_page.dart
  android/lib/pages/home_page.dart
  android/lib/pages/profile_page.dart
  android/lib/pages/settings_page.dart
  android/test/widget_test/settings_page_test.dart
Labels: Target: Mobile

#628 [Frontend] Adding search functionality
  frontend/src/App.js
  frontend/src/ResponsiveAppBar.js
  frontend/src/components/UserPreview.js
  frontend/src/pages/HomePage/HomePage.js
  frontend/src/pages/SearchPage/SearchPage.js
Labels: Target: Frontend
