Repository bounswe/bounswe2022group7, pull requests merged in 2022-11, with the labels that each got.

#380 Age - dateOfBirth changement
  backend/src/main/kotlin/com/group7/artshare/entity/AccountInfo.kt
  backend/src/main/kotlin/com/group7/artshare/request/SignupRequest.kt
  backend/src/main/kotlin/com/group7/artshare/service/SignupService.kt
Labels: Target: Backend

#383 First Part of the Class Implementation
  backend/src/main/kotlin/com/group7/artshare/controller/DataProp.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItem.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Auction.kt
  backend/src/main/kotlin/com/group7/artshare/entity/AuctionInfo.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Bid.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Comment.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Event.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Notification.kt
  backend/src/main/kotlin/com/group7/artshare/entity/OnlineGallery.kt
  backend/src/main/kotlin/com/group7/artshare/entity/PhysicalExhibition.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Recommendation.kt
  backend/src/main/kotlin/com/group7/artshare/entity/RegisteredUser.kt
Labels: Target: Backend

#386 Artist Class Implementation
  backend/pom.xml
  backend/src/main/kotlin/com/group7/artshare/controller/ArtItemController.kt
  backend/src/main/kotlin/com/group7/artshare/controller/DataProp.kt
  backend/src/main/kotlin/com/group7/artshare/entity/AccountInfo.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Artist.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Event.kt
  backend/src/main/kotlin/com/group7/artshare/entity/OnlineGallery.kt
  backend/src/main/kotlin/com/group7/artshare/entity/PhysicalExhibition.kt
  backend/src/main/kotlin/com/group7/artshare/entity/RegisteredUser.kt
Labels: Target: Backend

#387 Add form layout
  frontend/src/layouts/FormLayout.js
  frontend/src/pages/Authentication/SignInPage.js
  frontend/src/pages/Authentication/SignUpPage.js
Labels: Target: Frontend

#404 Merge swagger configuration to develop
  backend/.gitignore
  backend/pom.xml
  backend/src/main/kotlin/com/group7/artshare/configuration/OpenAPIConfiguration.kt
  backend/src/main/kotlin/com/group7/artshare/configuration/SecurityConfiguration.kt
  backend/src/main/kotlin/com/group7/artshare/controller/DataProp.kt
  docker/backend.development.Dockerfile
Labels: Target: Backend

#414 Removal of Optional Fields from Register Page
  android/lib/data/data.dart
  android/lib/models/user_model.dart
  android/lib/network/register/register_input.dart
  android/lib/pages/login.dart
  android/lib/pages/profile_page.dart
  android/lib/pages/register.dart
  android/lib/widgets/form_widgets.dart
  android/pubspec.lock
  android/pubspec.yaml
Labels: Status: Pending Review, Priority: Medium, Difficulty: Medium, Type: Implementation, Target: Mobile

#406 Implemented UI of Art Item Creation Page
  android/lib/config/app_routes.dart
  android/lib/main.dart
  android/lib/models/art_item_info_model.dart
  android/lib/models/art_item_model.dart
  android/lib/models/event/event_info_model.dart
  android/lib/models/event/event_model.dart
  android/lib/models/models.dart
  android/lib/network/create_art_item/create_art_item_input.dart
  android/lib/network/create_art_item/create_art_item_service.dart
  android/lib/pages/create_art_item_page.dart
  android/lib/pages/home_page.dart
  android/lib/util/validators.dart
  android/pubspec.lock
  android/pubspec.yaml
Labels: Target: Mobile

#413 Backend Image Base64 Update
  backend/src/main/kotlin/com/group7/artshare/controller/DataProp.kt
  backend/src/main/kotlin/com/group7/artshare/controller/ImageController.kt
  backend/src/main/kotlin/com/group7/artshare/entity/AccountInfo.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItemInfo.kt
  backend/src/main/kotlin/com/group7/artshare/entity/EventInfo.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Image.kt
  backend/src/main/kotlin/com/group7/artshare/repository/ImageRepository.kt
  backend/src/main/resources/application.properties
Labels: Target: Backend

#426 Update and fix continuous integration workflows
  .github/workflows/Android-CI.yml
  .github/workflows/Backend-CI.yml
  .github/workflows/Frontend-CI.yml
  android/test/widget_test/register_test.dart
Labels: Status: Suspended, Target: Infrastructure

#427 implement get user endpoints for profile page
  backend/src/main/kotlin/com/group7/artshare/configuration/SecurityConfiguration.kt
  backend/src/main/kotlin/com/group7/artshare/controller/ProfileController.kt
  backend/src/main/kotlin/com/group7/artshare/service/ProfileService.kt
Labels: Target: Backend

#429 Fix and update FormLayout for lower resolution and mobile screens
  frontend/src/layouts/FormLayout.js
Labels: Type: Bug, Target: Frontend

#424 add signup functionality for Artist users
  backend/src/main/kotlin/com/group7/artshare/service/SignupService.kt
Labels: Target: Backend

#430 Dev/android/create event page UI
  android/lib/config/app_routes.dart
  android/lib/main.dart
  android/lib/pages/create_event_page.dart
  android/lib/pages/home_page.dart
  android/lib/pages/pages.dart
  android/lib/util/validators.dart
Labels: Status: Pending Review, Priority: Medium, Difficulty: Medium, Target: Mobile

#417 Content Layout and Improvements
  frontend/src/App.js
  frontend/src/auth/ProtectedRoute.js
  frontend/src/common/CommentSection.js
  frontend/src/layouts/ContentLayout.js
  frontend/src/pages/ArtItemPage/ArtItemPage.js
  frontend/src/pages/ErrorPage.js
  frontend/src/pages/EventPage/EventPage.js
  frontend/src/pages/HomePage/HomePage.js
Labels: Target: Frontend

#444 Merge Post model fix into develop
  android/lib/data/data.dart
  android/lib/models/art_item/art_item_creator_model.dart
  android/lib/models/art_item/art_item_info_model.dart
  android/lib/models/art_item/art_item_model.dart
  android/lib/models/event/event_info_model.dart
  android/lib/models/event/event_model.dart
  android/lib/models/models.dart
  android/lib/models/post_info_model.dart
  android/lib/models/post_model.dart
  android/lib/models/user_model.dart
  android/lib/network/home/get_postlist_output.dart
  android/lib/pages/event_page.dart
  android/lib/pages/profile_page.dart
  android/lib/widgets/feed_container.dart
Labels: Target: Mobile

#440 DiscussionPost and Comment endpoints
  backend/src/main/kotlin/com/group7/artshare/configuration/SecurityConfiguration.kt
  backend/src/main/kotlin/com/group7/artshare/controller/CommentController.kt
  backend/src/main/kotlin/com/group7/artshare/controller/DiscussionForumController.kt
  backend/src/main/kotlin/com/group7/artshare/controller/DiscussionPostController.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Comment.kt
  backend/src/main/kotlin/com/group7/artshare/entity/DiscussionPost.kt
  backend/src/main/kotlin/com/group7/artshare/entity/RegisteredUser.kt
  backend/src/main/kotlin/com/group7/artshare/repository/DiscussionPostRepository.kt
  backend/src/main/kotlin/com/group7/artshare/request/CommentRequest.kt
  backend/src/main/kotlin/com/group7/artshare/request/DiscussionPostRequest.kt
  backend/src/main/kotlin/com/group7/artshare/service/CommentService.kt
  backend/src/main/kotlin/com/group7/artshare/service/DiscussionPostService.kt
Labels: Target: Backend

#436 Dev/backend/settings merge reverted
  backend/src/main/kotlin/com/group7/artshare/SettingDTO.kt
  backend/src/main/kotlin/com/group7/artshare/controller/ProfileController.kt
  backend/src/main/kotlin/com/group7/artshare/service/ProfileService.kt
Labels: Target: Backend

#451 Fix Image Auth and Wrong Spelling
  backend/src/main/kotlin/com/group7/artshare/configuration/SecurityConfiguration.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Location.kt
Labels: Target: Backend

#428 Dev/comment author invisible fix
  .DS_Store
  backend/src/main/kotlin/com/group7/artshare/DTO/ArtItemDTO.kt
  backend/src/main/kotlin/com/group7/artshare/DTO/CommentDTO.kt
  backend/src/main/kotlin/com/group7/artshare/controller/ArtItemController.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItem.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Comment.kt
  backend/src/main/kotlin/com/group7/artshare/entity/RegisteredUser.kt
  backend/src/main/kotlin/com/group7/artshare/request/ArtItemRequest.kt
  backend/src/main/kotlin/com/group7/artshare/request/PhysicalExhibitionRequest.kt
Labels: Target: Backend

#462 Discussion post endpoint update and image fix
  backend/src/main/kotlin/com/group7/artshare/controller/DiscussionForumController.kt
  backend/src/main/kotlin/com/group7/artshare/controller/DiscussionPostController.kt
  backend/src/main/kotlin/com/group7/artshare/controller/ImageController.kt
Labels: Target: Backend

#465 Dev/android/create event network
  android/lib/config/api_endpoints.dart
  android/lib/data/data.dart
  android/lib/models/art_item/art_item_info_model.dart
  android/lib/models/event/event_info_model.dart
  android/lib/models/event/event_model.dart
  android/lib/models/image_model.dart
  android/lib/models/location_model.dart
  android/lib/models/models.dart
  android/lib/models/post_info_model.dart
  android/lib/models/post_model.dart
  android/lib/network/event/post_event_input.dart
  android/lib/network/event/post_event_output.dart
  android/lib/network/event/post_event_service.dart
  android/lib/network/image/get_image_builder.dart
  android/lib/network/image/get_image_output.dart
  android/lib/network/image/get_image_service.dart
  android/lib/network/image/post_image_input.dart
  android/lib/network/image/post_image_output.dart
  android/lib/network/image/post_image_service.dart
  android/lib/pages/art_item_page.dart
  android/lib/pages/create_event_page.dart
  android/lib/pages/event_page.dart
  android/lib/providers/post_event_provider.dart
  android/test/widget_test/event_page_test.dart
Labels: Status: Pending Review, Priority: Medium, Difficulty: Medium, Type: Implementation, Target: Mobile

#459 Add Create Physical Event And Art Item Pages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/auth/useAuth.js
  frontend/src/common/postRequestWithImage.js
  frontend/src/components/ImageComponent.js
  frontend/src/components/ImageUploader.js
  frontend/src/components/MapComponent.js
  frontend/src/components/MapSelectComponent.js
  frontend/src/pages/ArtItemPage/ArtItemPage.js
  frontend/src/pages/ArtItemPage/CreateArtItemPage.js
  frontend/src/pages/EventPage/CreatePhysicalEventPage.js
  frontend/src/pages/EventPage/EventPage.js
Labels: Target: Frontend

#461 Post art item bug fix
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItem.kt
Labels: Target: Backend

#448 follow user endpoint
  backend/src/main/kotlin/com/group7/artshare/controller/ProfileController.kt
  backend/src/main/kotlin/com/group7/artshare/controller/UserInteractionController.kt
  backend/src/main/kotlin/com/group7/artshare/entity/RegisteredUser.kt
  backend/src/main/kotlin/com/group7/artshare/repository/RegisteredUserRepository.kt
  backend/src/main/kotlin/com/group7/artshare/service/ProfileService.kt
Labels: Target: Backend

#473 Dev/backend/event dto
  backend/src/main/kotlin/com/group7/artshare/DTO/EventDTO.kt
  backend/src/main/kotlin/com/group7/artshare/DTO/OnlineGalleryDTO.kt
  backend/src/main/kotlin/com/group7/artshare/DTO/PhysicalExhibitionDTO.kt
  backend/src/main/kotlin/com/group7/artshare/controller/EventController.kt
  backend/src/main/kotlin/com/group7/artshare/controller/Homepage.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Event.kt
  backend/src/main/kotlin/com/group7/artshare/entity/OnlineGallery.kt
  backend/src/main/kotlin/com/group7/artshare/entity/PhysicalExhibition.kt
Labels: Target: Backend

#456 string to list feature
  backend/src/main/kotlin/com/group7/artshare/controller/DataProp.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItemInfo.kt
  backend/src/main/kotlin/com/group7/artshare/entity/EventInfo.kt
  backend/src/main/kotlin/com/group7/artshare/utils/StringToListConverter.kt
Labels: Target: Backend
