Repository bounswe/bounswe2022group7, pull requests merged in 2022-10, with the labels that each got.

#269 Dev/frontend router
  frontend/package.json
  frontend/src/App.js
  frontend/src/common/Comment.js
  frontend/src/common/CommentSection.js
  frontend/src/common/NewComment.js
  frontend/src/index.js
  frontend/src/pages/ArtItemPage/ArtItemPage.js
  frontend/src/pages/HomePage/ArtItem.js
  frontend/src/pages/HomePage/Event.js
  frontend/src/pages/HomePage/ForumOverview.js
  frontend/src/pages/HomePage/HomePage.js
Labels: Status: Pending Review

#267 Mobile Register Page
  android/lib/main.dart
  android/lib/pages/login.dart
  android/lib/pages/register.dart
  android/lib/util/snack_bar.dart
  android/lib/util/validators.dart
  android/lib/widgets/form_app_bar.dart
  android/lib/widgets/form_widgets.dart
  android/test/unit_test/validator_test.dart
Labels: Target: Mobile

#281 Dev/android/loginpage
  android/lib/pages/login.dart
Labels: Status: Pending Review, Priority: Medium, Difficulty: Medium, Type: Implementation, Target: Mobile

#279 Dev/profilepage musa
  android/lib/data/data.dart
  android/lib/main.dart
  android/lib/models/user_model.dart
  android/lib/pages/profilePage.dart
Labels: Status: Completed, Priority: Medium, Difficulty: Hard, Target: Mobile

#286 Merge docker implementation with frontend branch
  .github/workflows/Frontend-CI.yml
  README.md
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Dockerfile.production
  frontend/README.md
  frontend/nginx.conf
  frontend/package.json
Labels: Type: Workflow, Status: Pending Review, Target: Frontend

#288 Add sign-up and sign-in pages (FE, #284)
  frontend/src/App.js
  frontend/src/pages/Authentication/SignInPage.js
  frontend/src/pages/Authentication/SignUpPage.js
Labels: Status: Pending Review, Target: Frontend

#291 Add authentication (FE)
  frontend/.dockerignore
  frontend/src/App.js
  frontend/src/ResponsiveAppBar.js
  frontend/src/auth/ProtectedRoute.js
  frontend/src/auth/useAuth.js
  frontend/src/auth/useLocalStorage.js
  frontend/src/common/CommentSection.js
  frontend/src/common/UserCard.js
  frontend/src/index.js
  frontend/src/pages/ArtItemPage/CreateArtItemPage.js
  frontend/src/pages/Authentication/SignInPage.js
  frontend/src/pages/ErrorPage.js
Labels: Target: Frontend

#275 Dev/homepage demet
  backend/src/main/kotlin/com/group7/artshare/controller/Homepage.kt
  backend/src/main/kotlin/com/group7/artshare/controller/printa.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItem.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItemInfo.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Artist.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Auction.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Comment.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Event.kt
  backend/src/main/kotlin/com/group7/artshare/entity/EventInfo.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Location.kt
  backend/src/main/kotlin/com/group7/artshare/entity/OnlineGallery.kt
  backend/src/main/kotlin/com/group7/artshare/entity/PhysicalExhibition.kt
  backend/src/main/kotlin/com/group7/artshare/entity/RegisteredUser.kt
  backend/src/main/kotlin/com/group7/artshare/repository/ArtItemInfoRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/ArtItemRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/ArtistRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/AuctionRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/CommentRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/EventInfoRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/EventRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/LocationRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/OnlineGalleryRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/PhysicalExhibitionRepository.kt
  backend/src/main/kotlin/com/group7/artshare/repository/RegisteredUserRepository.kt
  backend/src/main/resources/application.properties
Labels: Target: Backend

#300 Dev/backend/register user
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItem.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Location.kt
  backend/src/main/kotlin/com/group7/artshare/entity/OnlineGallery.kt
  backend/src/main/kotlin/com/group7/artshare/entity/PhysicalExhibition.kt
  backend/src/main/kotlin/com/group7/artshare/entity/RegisteredUser.kt
Labels: Target: Backend

#303 Dev/backend/inheritance beta
  backend/src/main/kotlin/com/group7/artshare/entity/Event.kt
  backend/src/main/kotlin/com/group7/artshare/entity/OnlineGallery.kt
  backend/src/main/kotlin/com/group7/artshare/entity/PhysicalExhibition.kt
  backend/src/main/kotlin/com/group7/artshare/repository/EventRepository.kt
Labels: Target: Backend

#307 implement account info class
  backend/src/main/kotlin/com/group7/artshare/entity/AccountInfo.kt
  backend/src/main/kotlin/com/group7/artshare/entity/RegisteredUser.kt
Labels: Target: Backend

#311 hard coded data is removed
  backend/src/main/kotlin/com/group7/artshare/controller/Homepage.kt
Labels: Target: Backend

#298 Update register page
  android/lib/main.dart
  android/lib/pages/login.dart
  android/lib/pages/register.dart
  android/lib/util/validators.dart
  android/lib/widgets/form_widgets.dart
  android/lib/widgets/logo.dart
  android/pubspec.lock
  android/pubspec.yaml
Labels: Target: Mobile

#319 Dev/backend/event item endpoint
  backend/src/main/kotlin/com/group7/artshare/controller/EventController.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItem.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItemInfo.kt
  backend/src/main/kotlin/com/group7/artshare/entity/Event.kt
  backend/src/main/kotlin/com/group7/artshare/entity/EventInfo.kt
  backend/src/main/kotlin/com/group7/artshare/entity/OnlineGallery.kt
  backend/src/main/kotlin/com/group7/artshare/entity/PhysicalExhibition.kt
  backend/src/main/kotlin/com/group7/artshare/entity/RegisteredUser.kt
Labels: Target: Backend

#322 Single art_item endpoint
  backend/src/main/kotlin/com/group7/artshare/controller/ArtItemController.kt
  backend/src/main/kotlin/com/group7/artshare/controller/DataProp.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItem.kt
  backend/src/main/kotlin/com/group7/artshare/entity/ArtItemInfo.kt
Labels: Target: Backend

#276 Dev/docker
  .github/workflows/Frontend-AWS-Deployment.yml
  .github/workflows/Frontend-CI.yml
  backend/.dockerignore
  backend/.gitignore
  backend/pom.xml
  backend/src/main/resources/application.properties
  deployment/backend-task-definition.json
  docker/.env
  docker/backend.Dockerfile.development
  docker/backend.Dockerfile.production
  docker/docker-compose.yml
  docker/readme.md
Labels: Target: Backend

#324 Merge Changes in Frontend into Develop
  .github/workflows/Frontend-CI.yml
  frontend/.babelrc
  frontend/.dockerignore
  frontend/.gitignore
  frontend/Dockerfile
  frontend/Dockerfile.production
  frontend/README.md
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/ResponsiveAppBar.js
  frontend/src/Welcome.js
  frontend/src/auth/ProtectedRoute.js
  frontend/src/auth/useAuth.js
  frontend/src/auth/useLocalStorage.js
  frontend/src/common/CommentSection.js
  frontend/src/common/NewComment.js
  frontend/src/common/UserCard.js
  frontend/src/index.html
  frontend/src/index.js
  frontend/src/pages/ArtItemPage/ArtItemPage.js
  frontend/src/pages/ArtItemPage/CreateArtItemPage.js
  frontend/src/pages/Authentication/SignInPage.js
  frontend/src/pages/Authentication/SignUpPage.js
  frontend/src/pages/ErrorPage.js
  frontend/src/pages/HomePage/ArtItem.js
  frontend/src/pages/HomePage/Event.js
  frontend/src/pages/HomePage/ForumOverview.js
  frontend/src/pages/HomePage/HomePage.js
  frontend/test/Welcome.test.js
Labels: Priority: High, Target: Frontend

#320 Connected register form to backend
  android/lib/config/api_endpoints.dart
  android/lib/data/data.dart
  android/lib/main.dart
  android/lib/models/user_model.dart
  android/lib/network/register/register_input.dart
  android/lib/network/register/register_output.dart
  android/lib/network/register/register_service.dart
  android/lib/pages/home_page.dart
  android/lib/pages/login.dart
  android/lib/pages/register.dart
  android/lib/providers/register_provider.dart
  android/lib/util/validators.dart
  android/lib/widgets/alert.dart
  android/lib/widgets/loading.dart
  android/pubspec.lock
  android/pubspec.yaml
Labels: Status: Completed, Target: Mobile

#325 Adding key to application properties
  backend/src/main/resources/application.properties
  docker/.env
Labels: Target: Backend

#328 Merge changes in Android to Develop
  android/.gitignore
  android/.metadata
  android/analysis_options.yaml
  android/android/.gitignore
  android/android/app/build.gradle
  android/android/app/src/debug/AndroidManifest.xml
  android/android/app/src/main/AndroidManifest.xml
  android/android/app/src/main/kotlin/com/group7/artshare/android/MainActivity.kt
  android/android/app/src/main/res/drawable-v21/launch_background.xml
  android/android/app/src/main/res/drawable/launch_background.xml
  android/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/android/app/src/main/res/values-night/styles.xml
  android/android/app/src/main/res/values/styles.xml
  android/android/app/src/profile/AndroidManifest.xml
  android/android/build.gradle
  android/android/gradle.properties
  android/android/gradle/wrapper/gradle-wrapper.properties
  android/android/settings.gradle
  android/lib/config/api_endpoints.dart
  android/lib/config/app_routes.dart
  android/lib/data/data.dart
  android/lib/main.dart
  android/lib/models/art_item_model.dart
  android/lib/models/event_model.dart
  android/lib/models/models.dart
  android/lib/models/user_model.dart
  android/lib/network/register/register_input.dart
  android/lib/network/register/register_output.dart
  android/lib/network/register/register_service.dart
  android/lib/pages/home_page.dart
  android/lib/pages/login.dart
  android/lib/pages/pages.dart
  android/lib/pages/profile_page.dart
  android/lib/pages/register.dart
  android/lib/providers/register_provider.dart
  android/lib/providers/user_provider.dart
  android/lib/shared_prefs/user_preferences.dart
  android/lib/util/snack_bar.dart
  android/lib/util/validators.dart
  android/lib/widgets/alert.dart
  android/lib/widgets/feed_container.dart
  android/lib/widgets/form_app_bar.dart
  android/lib/widgets/form_widgets.dart
  android/lib/widgets/loading.dart
  android/lib/widgets/logo.dart
  android/pubspec.lock
  android/pubspec.yaml
  android/test/unit_test/validator_test.dart
  android/test/widget_test.dart
Labels: Target: Mobile

#336 Updated the Register Network Function According to Backend Implementation
  android/lib/config/api_endpoints.dart
  android/lib/main.dart
  android/lib/models/user_model.dart
  android/lib/network/login/login_input.dart
  android/lib/network/login/login_output.dart
  android/lib/network/login/login_service.dart
  android/lib/network/register/register_output.dart
  android/lib/network/register/register_service.dart
  android/lib/pages/home_page.dart
  android/lib/pages/login.dart
  android/lib/pages/profile_page.dart
  android/lib/pages/register.dart
  android/lib/providers/login_provider.dart
  android/pubspec.lock
Labels: Target: Mobile

#345 Json Related Bug Fix
  backend/src/main/kotlin/com/group7/artshare/entity/AccountInfo.kt
  backend/src/main/kotlin/com/group7/artshare/entity/RegisteredUser.kt
Labels: Target: Backend

#346 [Frontend] Merge revised signup and signing pages to develop
  .github/workflows/Frontend-CI.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Authentication/SignInPage.js
  frontend/src/pages/Authentication/SignUpPage.js
  frontend/src/pages/HomePage/HomePage.js
Labels: Target: Frontend

#348 [Mobile] Merge Event Page integrations to Develop
  android/lib/config/api_endpoints.dart
  android/lib/config/app_routes.dart
  android/lib/data/data.dart
  android/lib/main.dart
  android/lib/models/event_info_model.dart
  android/lib/models/event_model.dart
  android/lib/models/location_model.dart
  android/lib/models/models.dart
  android/lib/models/user_model.dart
  android/lib/network/event/get_event_output.dart
  android/lib/network/event/get_event_service.dart
  android/lib/pages/event_page.dart
  android/lib/pages/home_page.dart
  android/lib/pages/pages.dart
  android/lib/pages/profile_page.dart
  android/lib/util/string_helpers.dart
  android/lib/widgets/feed_container.dart
Labels: Target: Mobile

#349 Dev/frontend/art item integration
  frontend/src/App.js
  frontend/src/common/CommentSection.js
  frontend/src/common/UserCard.js
  frontend/src/pages/ArtItemPage/ArtItemPage.js
  frontend/src/pages/HomePage/HomePage.js
Labels: Target: Frontend

#363 [Mobile] Added .env file for server configuration
  android/.gitignore
  android/lib/config/api_endpoints.dart
  android/lib/main.dart
  android/pubspec.lock
  android/pubspec.yaml
  android/template.env
Labels: Target: Mobile

#364 Merge Event Page tests into Develop
  android/lib/pages/event_page.dart
  android/lib/util/string_helpers.dart
  android/pubspec.lock
  android/pubspec.yaml
  android/test/unit_test/string_helpers_test.dart
  android/test/widget_test/event_page_test.dart
Labels: Target: Mobile

#362 Dev/android/home page
  android/lib/config/api_endpoints.dart
  android/lib/data/data.dart
  android/lib/models/art_item_info_model.dart
  android/lib/models/art_item_model.dart
  android/lib/models/event_info_model.dart
  android/lib/models/event_model.dart
  android/lib/models/models.dart
  android/lib/models/post_model.dart
  android/lib/network/home/get_postlist_output.dart
  android/lib/network/home/get_postlist_service.dart
  android/lib/pages/home_page.dart
  android/lib/widgets/feed_container.dart
Labels: Status: Pending Review, Priority: High, Difficulty: Medium, Type: Implementation, Target: Mobile
